@keyframes trans {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.notice {
    height: 0;
    color: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .notice-item {
        border-radius: 2px;
        min-width: 200px;
        padding: 0 40px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        animation: trans 0.2s ease;

        &:first-child {
            margin-top: 50px;
        }

        &.info {
            background: @blue;
        }

        &.success {
            background: @green;
        }

        &.error {
            background: @red;
        }

    }
}