.nav-container {
  margin: 10px;
  flex: 0 0 300px;

  .list-item {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    transition: 0.2s all ease;
    cursor: pointer;
    padding: 0 10px;

    &.active {
      background: #ebf7ff;
      color: #008cee;
      font-weight: bold;
    }

    &:hover {
      background: #ebf7ff;
    }
  }
}